/* create nav class function with the position argument 'sticky' */

/* COLOR HEX CODES */
/* black = 12020D */
/* purp =  AD9CE7*/
/* blue =  CEFDFF*/
/* Grey = F3F3F4 */
/* fuckoff green = 44FF33 */

/* FONTS */
@font-face {
    font-family:blackMetal;
    src: url(/assets/BlackMetal.ttf)
}

@font-face {
    font-family: ghosts;
    src: url(/assets/Ghosts-Hairline.otf)
}

@font-face{
    font-family: gleam;
    src: url(/assets/HCGleam-Reg.otf)
}

@font-face{
    font-family: ladi;
    src: url(/assets/Ladi-Weak.otf)
}
/* Basic layout of everything */
 .container {
    display: grid;
    grid-template: 200px 1fr 50px / 150px 1fr 150px;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 0px;
    min-width: 60vw;
    min-height: 95vh;
    
}


/* gloabals */
ul{
    list-style-type: none;
}

body {
    background-color: black;
}

/* Sidebar */
.sidebar{
    grid-column: 1 / span 1;
    grid-row: 2/ span 1;
    padding: 10%;

 



}

nav>ul{
    text-align: center;
    margin: 0px;
    padding: 0px;
    background-color: #AD9CE7;
    
    
}

nav a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 20px;
}
nav a:hover{
    background-color: black;
    color: white;
}

/* header */
.header{
    grid-column: 1 / span 3;
    color:#44FF33;
    background-image: url(/assets/pplstar.gif);
    font-family: gleam;
    font-size: 150px;
    padding-top: 75px;
    text-align: center;
}



/* Main Body */
.main_body{
    padding-top: 10%;
    grid-column: 2;
    background-color: aliceblue;
    opacity: 0.4;
}

.main_body p{
    text-align: center;
}

/* Footer */
.footer{
    grid-column: 1 / span 3;
    background-image: url(/assets/raindrops.webp);


}

.footer ul{
    display: flex;
    justify-content: center;
    

}

.footer a{
    color: #AD9CE7;
    text-decoration: none;
    padding: 20px;
}

.footer a:hover{
    color: #44FF33;
    font-family: blackMetal;
    padding-bottom: 50px;
}


