/* create nav class function with the position argument 'sticky' */

/* COLOR HEX CODES */
/* black = 12020D */
/* purp =  AD9CE7*/
/* blue =  CEFDFF*/
/* Grey = F3F3F4 */
/* fuckoff green = 44FF33 */

/* FONTS */
@font-face {
    font-family:blackMetal;
    src: url(/assets/fonts/BlackMetal.ttf)
}

@font-face {
    font-family: ghosts;
    src: url(/assets/fonts/Ghosts-Hairline.otf)
}

@font-face{
    /* font-family: gleam; */
    font-family: gleam;
    src: url(/assets/fonts/HCGleam-Reg.otf)
}

@font-face{
    font-family: ladi;
    src: url(/assets/fonts/Ladi-Weak.otf)
}
/* Basic layout of everything */
 .container {
    display: grid;
    grid-template: 200px 1fr 100px/ 20vw 1fr 20vw;
    margin: 0px;
    padding: 0px;
    min-width:90%;
    min-height: 100vh;
    
}


/* gloabals */
ul{
    list-style-type: none;
}

/* BACKGROUND */
body {
    /* background-image: url(assets/visuals/4.jpg); */
    background-color: rgb(300, 255, 240);
    margin:0px;
    padding:0px;
}

/* Sidebar */
/* this is the declartionn of the sideat but idk if i rly need it... might just reformat all
into the nav element */
.sidebar{
    grid-column: 1 / span 1;
    grid-row: 2/ span 1;
    padding: 10%;
    min-width: 150px;
}

nav{
    position: sticky;
    top: 15vh;
    box-shadow: 0px 0px 50px 10px #00000072;


}

nav>ul{
    text-align: center;
    margin: 0px;
    padding: 20px;
    background-color: #edebf3; 

}

nav a{
    display: block;
    font-family: sarif;
    color: black;
    text-decoration: none;
    padding: calc(10px + 1vw);
    font-size: calc(1px + 1vw);
}
nav a:hover{
    background-color: black;
    color: white;
}

/* header */
.header{
    grid-column: 1 /span 3;
    background-image: url(assets/visuals/4.jpg); 
    
    text-align: center;
    padding-top: 100px;
    color: white;
    font-size: 7vw;
    font-family: gleam;

}.main_header{
    grid-column: 1 / span 3;
    color:#44FF33;
    /* background-image: url(assets/visuals/pplstar.gif); */
    background-image: url(assets/visuals/4.jpg);


    font-family: ladi;
    font-size: 8vw;
    padding-top: 37px;
    text-align: center;

    display: grid;
    grid-template-rows: 1fr 40px;
}

.main_header div{
    grid-row: 2;
    font-size: 20px;
    letter-spacing: 15px;
    color: #CEFDFF;
    font-family: ghosts;


}





/* Main Body */
.main_body{
    padding-top: 10%;
    margin-top: 40px;
    grid-column: 2;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    
}

.main_body p{
    text-align: center;
    margin-top: 40px;
}

/* Footer */
.footer{
    grid-row: 3/ span 1;
    margin-top: 10vh;

    background-image: url(/assets/visuals/raindrops.webp);
    width: 100vw;
    height: 100px;

    padding-top: 30px;
    text-align: center;

    box-shadow: 0px -20px 50px 10px #00000072;

    display: flex;
    justify-content: center;

}

.footer ul{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    min-width: 33vw;
    padding: 0;
}



.footer a{
    color: #AD9CE7;
    text-decoration: none;
}

.footer li{
    max-width: 250px;
}

.footer a:hover{
    color: #44FF33;
    font-family: blackMetal;
    font-size: 140%;

}


